.foot{
    position: absolute;
    width: 100%;
    height: 450px;
    background-color: #383b6b;
    left: 0;
    top: 612%;
    color: #fff;
    display: inline-block;
}
.foot .logo-foot{
    position: absolute;
    margin: 80px 40px;
}
.foot .logo-foot img{
    width: 290px;
}
.content-foot{
    margin: 50px 0px;
    display: block;
    margin-left: -400px;
}
.title-foot{
    margin: 40px 0;
}
.title-foot h2{
    margin: 10px 0;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 2px;
}
.title-foot ul{
    list-style: none;
    margin-left: -50px;
    font-size: 18px;
}
#fact{
    position: inherit;
    transform: translate(230px, -335px);
}
#invest{
    position: inherit;
    transform: translate(470px, -590px);
}
.icons-foot{
    position: absolute;
   
    top: 40%;
    left: 80%;
    
}
#icon {
    font-size: 38px;
    border: 2px solid;
    padding: 5px;
    margin: 0 15px;
    background-color: #fff;
}