.header{
    display: flex;
    justify-content: center;
    margin-left: 200px;
}
.logo{
  width: 284px;
  height: 188.4px;
  margin: 0 58px 53.6px 32.4px;

}

.list{
    margin-left: 350px;
    margin-top: 50px;
    color: #515151;
    display: inline-flex;
    font-size: 14px;
}
.list ul {
    list-style: none;

}