.map{
position: relative;
width: 100%;
height: 400px;
margin-top: 50px;
padding: 50px;
}
.map h2{
  font-weight: 600;
  font-size: 28px;
  text-decoration: underline;
  color: brown;
  
}
.map iframe{
    width: 100%;
    height: 400px;
    margin: 10px 0;
}