.products{
  position: relative;
  width: 100%;
  background-color: rgba(228, 229, 241, 0.55);
  display: flex;
  float: left;
  height: 900px;
  z-index: -9;
}
.products .first_box{
    width: 300px;
    height: 400px;
    margin-left: 70px;
    margin-top: 50px;
}
.products .first_box img{
    width: 400px;
    height: 700px;
}
.products .second_box{
    width: 400px;
    height: 600px;
    display: block;
    margin: 50px 150px;
    position: relative;
}
.products .second_box .small_box{
   position: absolute;
   background-color: #383b6b;
   width: 400px;
   height: 300px;
   color: #eee;
   padding-top: 100px;
   font-size: 24px;
}
.products .second_box .small_box .line{
    width: 300px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    left: -150px;
    top: 127px;
}
.products .second_box .small_box p{
    font-size: 24px;
    font-weight: 400;
    margin-top: 10px;
    margin-left: -20px;
}
.products .second_box .small_box h2{
    font-size: 42px;
    font-weight: 800;
    letter-spacing: 2px;
    
}
.products .second_box .paragraph{
    position: relative;
    width: 400px;
    margin: 245px 0;
    padding: 100px 20px;
    font-weight: 400;
    font-size: 25px;
    color: #515151;
   
}

.products .second_box a{
    color: red;
    font-size: 22px;
    text-decoration: underline;
    position: absolute;
    margin-top: 60px;
    margin-left: 80px;
}

.products .third_box{
    width: 400px;
    height: 600px;
    margin-top: 50px;
    margin-left: -100px;
}
.products .third_box img{
    width: 400px;
    height: 700px;
}