.slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 900px;
    height: 550px;
    border-radius: 10px;
  }
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: red;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: red;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }
  .lines{
    position: relative;
    z-index: 9;
  }
  .line1{
   position: absolute;
   width: 600px;
   height: 7px;
   background-color: red;
   transform: rotate(90deg);
   left: -120px;
   top: 450px;
  }
  .line2{
    position: absolute;
   width: 600px;
   height: 7px;
   background-color: red;
   transform: rotate(90deg);
   left: -90px;
   top: 450px;
  }
  .line3{
    position: absolute;
    width: 600px;
    height: 7px;
    background-color: red;
    transform: rotate(90deg);
    left: -60px;
    top: 450px;
  }
  